@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --heading-font: 'Staatliches', cursive;
    --para-font: 'Poppins', sans-serif;
}

h1,h2,h3{
    font-family: var(--heading-font);
}

p{
    font-family: var(--para-font);
    font-size: 1rem;
}

#header{
    height: 100vh;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.23));
}

#all-tasks,#notes{
    transition: 10ms ease-in;
}

#new-btn{
    left: 95%;
    top: 92%;
}

.display{
    display: none;
}

.page-heading{
    bottom: 38%;
    right: 45%;
}

@media (min-width:1600px){

    .page-heading{
        bottom: 41%;
        right: 46%;
    }
}