@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --heading-font: 'Staatliches', cursive;
    --para-font: 'Poppins', sans-serif;
}

h1,h2,h3{
    font-family: var(--heading-font);
}

p{
    font-family: var(--para-font);
    font-size: 1rem;
}

#header{
    height: 100vh;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.23));
}

#all-tasks,#notes{
    transition: 10ms ease-in;
}

#new-btn{
    left: 95%;
    top: 92%;
}

.display{
    display: none;
}

.page-heading{
    bottom: 38%;
    right: 45%;
}

#add-new-task{
    left: 35%;
    top:35%;
    z-index: 60;
}

#close-btn{
    left: 90%;
    bottom: 85%;
    cursor: pointer;
}

.default-value{
    font-family: var(--para-font);
    font-weight: 500;
}

/* #choose-priority{
    appearance: none;
    background-color: green;
    border-radius: 999px;
    padding: 10px;
    color: white;
    font-weight: 700;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#choose-priority:focus{
    outline: none;
} */

option {
    padding: 10px;
    background-color: black;
}

@media (min-width:1600px){

    .page-heading{
        bottom: 41%;
        right: 46%;
    }

    #add-new-task{
        left: 40%;
        top: 40%;
    }
}